
# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/
data_*/

*.import
*.ico
/base_game/resources/sounds
base_game/resources/materials/world/decorations/icicle.material
base_game/resources/materials/world/decorations/desert_tornado.material
base_game/resources/materials/world/decorations/cactus_1.material
base_game/resources/materials/world/decorations/cactus_0.material
base_game/resources/materials/weapon_components/grenade.material
base_game/resources/materials/weapon_components/chainsaw.material
base_game/resources/materials/weapon_components/missile.material
base_game/resources/materials/cameras_&_ui/heart.material
base_game/resources/materials/cameras_&_ui/hud_bullet.material
base_game/resources/meshes/vehicles/well_raised.tres
base_game/resources/meshes/vehicles/warm_welcome.tres
base_game/resources/meshes/vehicles/turbulence.tres
base_game/resources/meshes/vehicles/suicide_door.tres
base_game/resources/meshes/vehicles/restless.tres
base_game/resources/meshes/vehicles/metal_undertow.tres
base_game/resources/meshes/vehicles/grave_mistake.tres
base_game/resources/meshes/vehicles/fungibber.tres
base_game/resources/meshes/vehicles/eternal_bond_front.tres
base_game/resources/meshes/vehicles/eternal_bond_back.tres
base_game/resources/meshes/vehicles/chains_awe.tres
base_game/resources/images/splash.png
base_game/resources/images/icon.png
base_game/resources/images/world/usa.png
base_game/resources/images/world/tornado.png
base_game/resources/images/world/iceland.png
base_game/resources/images/collectibles/money.png
base_game/resources/images/destruction/explosion.png
/base_game/resources/images/cameras_&_ui
/base_game/resources/images/vehicles/chains_awe
/base_game/resources/images/vehicles/eternal_bond
/base_game/resources/images/vehicles/fungibber
/base_game/resources/images/vehicles/grave_mistake
/base_game/resources/images/vehicles/metal_undertow
/base_game/resources/images/vehicles/no_match
base_game/resources/images/vehicles/restless/restless.png
base_game/resources/images/vehicles/restless/restless_wheel.png
/base_game/resources/images/vehicles/suicide_door
/base_game/resources/images/vehicles/turbulence
/base_game/resources/images/vehicles/warm_welcome
/base_game/resources/images/vehicles/well_raised
*.ttf
*.mp3
